# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENV / SYSTEM
# =========================
.env
.DS_Store

# =========================
# DATABASE (NIET COMMITTEN)
# =========================
data/pension.db

# =========================
# STREAMLIT CACHE
# =========================
.streamlit/

# =========================
# VIRTUAL ENV
# =========================
venv/
